@media (min-width: 320px) {
  
}


@media(min-width: 768px) {
  .list__place {
      padding: 0 24px;
      }
}


@media(min-width: 1024px) {
  .list__place {
      padding: 0 48px;
  }
}


@media(min-width: 1280px) {
  .list__place {
      padding: 0 148px;
  }
}