@media (min-width: 320px) {

}


@media(min-width: 768px) {
    .place {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 73px;
      }

      .place >:nth-child(1n+1) {
        width: calc(50% - 14px);
        box-sizing: border-box;
      }
}


@media(min-width: 1024px) {
  .place {
    margin-bottom: 80px;
  }
}


@media(min-width: 1280px) {
    
}