@media (min-width: 320px) {
  .subtitle__lead {
      margin: 0 16px 40px 16px;
      font-size: 16px;
      line-height: 20px;
    }
}


@media(min-width: 768px) {
  .subtitle__lead {
      font-size: 30px;
      line-height: 36px;
      margin: 0 64px 56px 64px;
    }
}


@media(min-width: 1024px) {
.subtitle__lead {
  margin: 0 144px 56px 144px;
}
}


@media(min-width: 1280px) {
.subtitle__lead {
  margin: 0 172px 64px 172px;
}
}