@media (min-width: 320px) {
  .logo {
    background: url(../../images/logo_sprint-3/header-logo.svg) no-repeat;
    background-size: cover;
    width: 142px;
    height: 100%;
    margin-right: auto;
  }
}


@media (min-width: 768px) {
  .logo {
    width: 176px;
    }
}


@media(min-width: 1024px) {
  
}


@media(min-width: 1280px) {
  
}