@media (min-width: 320px) {
  .text__place {
      padding: 0 0 25px 0;
      margin: 0;
    }
}


@media(min-width: 768px) {

}


@media(min-width: 1024px) {
.text__place {
  font-size: 18px;
  line-height: 29px;
  padding: 0 0 27px 0;
}
}


@media(min-width: 1280px) {
.text__place {
  padding: 0 0 26px 0;
}
}