@media (min-width: 320px) {
    .cover {
        display: flex;
        flex-direction: column;
        position: relative;
        background: url(../../images/cover/cover-trains.jpg) no-repeat;
        background-size: cover;
        margin: 0 0 64px 0;
        transition: .4s;
      }

      .cover:hover {
        opacity: .3;
        background-color: #2A2C2F;
      }
}


@media(min-width: 768px) {
    .cover {
        margin: 0 0 88px 0;
      }
}


@media(min-width: 1024px) {
  .cover {
    margin: 0 0 92px 0;
  }
}


@media(min-width: 1280px) {
  .cover {
    margin: 12px 48px 92px 48px;
  }
}