@media (min-width: 320px) {
  .place__link {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-decoration: underline;
    transition: .4s;
  }

  .place__link:hover {
    opacity: .8;
  }
}


@media(min-width: 768px) {
  
}


@media(min-width: 1024px) {
  
}


@media(min-width: 1280px) {
  
}