@media (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 288px;
    width: 100%;
    margin: 0 auto 24px;
  }
}

@media(min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    max-width: 720px;
  }
}

@media(min-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media(min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}