@media (min-width: 320px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 0 12px 0;
  }
}