@media (min-width: 320px) {
  .place__website {
    padding: 0 16px;
    margin-bottom: 32px;
  }
}

@media(min-width: 768px) {
  .place__website {
    align-self: flex-end;
    padding: 0;
    margin-bottom: 48px;
  }
}